[include]
	path = {{ .DOT_DIR }}/configs/git/general.gitconfig
	path = {{ .DOT_DIR }}/configs/git/aliases.gitconfig
	path = {{ .DOT_DIR }}/configs/git/ggh.gitconfig

[core]
	excludesFile = {{ .DOT_DIR }}/configs/git/global.gitignore
