;;;;;;;;;;;;;;
;; Packages ;;
;;;;;;;;;;;;;;

(require 'package)

;; Set up package archives
(add-to-list 'package-archives '("melpa" . "https://melpa.org/packages/") t)


;; Configuration ofr Quelpa
(when (eq system-type 'darwin)
    (setq-default quelpa-build-tar-executable "/opt/homebrew/bin/gtar"))

;; Initialize package
(package-initialize)

(require 'use-package)

;;;;;;;;;;;;;;;;;;;;
;; Add load paths ;;
;;;;;;;;;;;;;;;;;;;;

(defvar dotfiles-dir "{{.DOT_DIR}}")
(defvar dotfiles-config-dir (concat dotfiles-dir "/configs/elisp"))

(add-to-list 'load-path dotfiles-config-dir)

(load "general")
(load "functions")
(load "lsp")
(load "styling")
(load "keybindings")
